body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  min-height: 100vh;
  background: linear-gradient(45deg, #f7e987, #5b9a8b, #445069);
  background-attachment: fixed;
}

.container {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin: 20px;
}

.wheel {
  width: 50vmin;
  height: 50vmin;
  position: relative;
}

.wheel-segment {
  fill-opacity: 0.7;
  stroke-width: 0.5;
  stroke: #fff;
  transition: fill-opacity 0.3s ease;
}

.wheel-segment.selected {
  fill-opacity: 0.9;
}

.segment-text {
  font-size: 1vmin;
  text-anchor: middle;
  font-weight: bold;
  fill: #333;
}

.input-group {
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
}

.input-group input[type="text"] {
  width: 100%;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1rem;
}

.input-group input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

#selected-segment {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  color: #445069;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

:root {
  --color-1: #ff9aa2;
}
:root {
  --color-2: #ffb7b2;
}
:root {
  --color-3: #ffdac1;
}
:root {
  --color-4: #e2f0cb;
}
:root {
  --color-5: #b5ead7;
}
:root {
  --color-6: #c7ceea;
}
:root {
  --color-7: #95afc0;
}
:root {
  --color-8: #70a1ff;
}
:root {
  --color-9: #7bed9f;
}
:root {
  --color-10: #ff6b81;
}
:root {
  --color-11: #ff4757;
}
:root {
  --color-12: #dfe4ea;
}

.glass-card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 15px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.slider-container {
    position: relative;
    width: 100%;
}

.range-slider {
    width: 100%;
    height: 5px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
}

.range-slider:focus {
    outline: none;
}

.range-slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--selected-color, #FFF);
    cursor: pointer;
    -webkit-appearance: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background 0.3s;
}

.range-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--selected-color, #FFF);
    cursor: pointer;
    transition: background 0.3s;
}

.range-slider::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--selected-color, #FFF);
    cursor: pointer;
    transition: background 0.3s;
}

.glass-card .button-container {
  display: grid;
  width: 100%;
  gap: 10px; 
}

.glass-card button {
  flex: 1;  
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

