body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background: linear-gradient(45deg, #F7E987, #5B9A8B, #445069);
}

.auth-form {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  animation: fadeIn 1.5s;
  display: grid;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #252B48;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input {
  padding: 12px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  color: #252B48;
  margin: 10px;
}

.auth-form button {
  padding: 12px;
  background-color: #5B9A8B;
  color: #F7E987;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

.auth-form button:hover {
  background-color: #445069;
}

.auth-form p {
  text-align: center;
  margin-top: 20px;
  color: #252B48;
  font-size: 14px;
}

.auth-form a {
  color: #F7E987;
  text-decoration: none;
  margin-left: 5px;
}

.auth-form a:hover {
  text-decoration: underline;
}

.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.custom-alert p {
  color: #252B48;
  margin-bottom: 10px;
}

.custom-alert button {
  padding: 10px 15px;
  background-color: #5B9A8B;
  color: #F7E987;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.custom-alert button:hover {
  background-color: #445069;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 20px 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.burger-bar {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 3px;
}

.responsive-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 2000;
}

.responsive-menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.responsive-menu a:hover {
  background-color: #555;
}

.responsive-menu.active {
  transform: translateX(0);
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
}

@media (min-width: 769px) {
  .burger-menu,
  .responsive-menu {
    display: none;
  }
}
