.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #F7E987, #5B9A8B, #445069);
}

.auth-form {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  animation: fadeIn 1.5s;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #252B48;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input {
  padding: 12px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  color: #252B48;
}

.auth-form button {
  padding: 12px;
  background-color: #5B9A8B;
  color: #F7E987;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-form button:hover {
  background-color: #445069;
}

.auth-form p {
  text-align: center;
  margin-top: 20px;
  color: #252B48;
}

.auth-form a {
  color: #5B9A8B;
  text-decoration: none;
}

.auth-form a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@media (max-width: 600px) {
  .auth-form {
      max-width: 90%;
      padding: 20px;
  }

  .auth-form h2 {
      font-size: 1.5rem;
  }

  .auth-form input, .auth-form button {
      padding: 10px;
  }
}
